<!--repeat-->
<div>
  <a href="javascript:void(0)" *ngIf="noneVisible" (click)="doRepeat()">
    <mat-icon aria-hidden="false" aria-label="repeat" class="cursor-pointer">repeat</mat-icon>
  </a>
  <a href="javascript:void(0)" *ngIf="repeatVisible" (click)="doRepeatOne()">
    <mat-icon aria-hidden="false" aria-label="repeat" class="cursor-pointer">repeat</mat-icon>
  </a>
  <a href="javascript:void(0)" *ngIf="repeatOneVisible" (click)="doRepeatNone()">
    <mat-icon aria-hidden="false" aria-label="repeat" class="cursor-pointer">repeat</mat-icon>
  </a>
</div>
