<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="font-size: 36px">storage</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-local></app-local>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="flex flex-col items-end">
        <mat-icon style="font-size: 36px">playlist_play</mat-icon>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <app-my-play-list></app-my-play-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
